.container {
  background: #dfe1e6;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
}

.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  padding: 50px;
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 10px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.btn:hover {
  background: #1e2020;
  border-radius: 4px;
  letter-spacing: 3px;
}
.img_data {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* footer  */
.span {
  color: tomato !important;
}
